h1,
h2,
h3 {
  text-align: center;
  color: black;
}


.left {
  height: 600px;
  display: flex;
  flex-direction: column;
}

.row {
  height: 600px;
  display: flex;
  flex-direction: column;
}

.description {
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 20px;
}

#right1 {
  padding-top: 20px;
}

a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border: gray solid 0.5px;
  border-collapse: collapse;
}

table {
  margin: auto;
  width: 70%;
}

#denied {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}