<div *ngIf="isAuthenticated" class="container">
  <div id="right1">
    <h3>MACD</h3>
    <apx-chart [series]="lineGraph.series" [chart]="lineGraph.chart" 
    [xaxis]="lineGraph.xaxis"></apx-chart>
  </div>

  <div id="right2">
    <h3>SMA50</h3>
    <apx-chart [series]="lineGraph2.series" [chart]="lineGraph2.chart" 
    [xaxis]="lineGraph2.xaxis"></apx-chart>
  </div>

  <div id="right3">
    <h3>EMA50</h3>
    <apx-chart [series]="lineGraph3.series" [chart]="lineGraph3.chart" 
    [xaxis]="lineGraph3.xaxis"></apx-chart>
  </div>

</div>

<div *ngIf="!isAuthenticated" id="denied" class="container">
  <h1>You don't have access!</h1>
</div>