<body>

    <form id="regForm" action="/action_page.php">
        <h1>Phone Number Verification</h1>

        <p><label for="phone">Phone Number </label> <input type="text" [(ngModel)]="Phone" id="phone" name="phone"
                required></p>

        <p *ngIf="showOtp"><label for="otp">OTP </label> <input type="text" [(ngModel)]="OTP" id="otp" name="otp"
                required></p>
        <button (click)="sendPhone()" id="send" *ngIf="showPhone">Send OTP</button>
        <button (click)="sendOtp()" id="send" *ngIf="showOtp">Verify OTP</button>
        <p *ngIf="!verifyOtp">OTP did not match. Try again!</p>

    </form>

</body>