stockTech_frontend/node_modules
stockTech_frontend/.angular
Admin/node_modules
Admin/.angular
StockTech_backend/venv
StockTech_backend/CNN
StockTech_backend/.env
contract/cache
contract/.env
contract/node_modules
contract/.vscode
StockTech NN/DSECompanyData
StockTech NN/results
NN/CompanyData
NN/results
venv/