stockTech_frontend/node_modules
stockTech_frontend/.angular
Admin/node_modules
Admin/.angular
StockTech_backend/myenv
StockTech_backend/CNN
contract/cache
contract/order.py
contract/.env
contract/node_modules
