h1,h2,h3,h4 {
    text-align: center;
    color: black;
}
#left1 {
    background-color: rgba(245, 251, 227, 0.87);
    height: 300px;
    float: left;
    width: 50%;
}


#right1 {
    background-color: rgba(227, 251, 245, 0.87);
    height: 300px;
    float: left;
    width: 50%;
}

#total1 {
    float: left;
    background-color: rgba(244, 248, 232, 0.87);
    height: 700px;
    width: 100%;
}