<div *ngIf="isAuthenticated" class="container">
    <div>
        <h1>Portfolio</h1>
    </div>

    <div id="left1">
        <br><br>
        <h4>Name: {{user.name}}</h4>
        <br>
        <p>BO Account no: {{user.BO_account_no}}</p>
        <p>Phone no: +880{{user.phone}}</p>
        <p>Email: {{user.email}}</p>
        <p [style.color]="totalProfit < 0 ? 'red' : 'green'">Profit: {{ totalProfit | number: '1.2-2' }} Tk</p>
    </div>

    <div id="right1">
        <br><br>
        <h3>Shareholding Ratio</h3>
        <apx-chart [series]="pieChart.series" [chart]="pieChart.chart" [labels]="pieChart.labels"></apx-chart>
    </div>

  
    <div id="total1">
        <h3> <i class="fas fa-chart-line"></i> My shares</h3>
        <br><br>
        <table datatable [dtOptions]="dtOptions" class="table table-hover">
            <thead>
                <tr>
                    <th>Trade Code</th>
                    <th>Buying Date</th>
                    <th>Buying Price</th>
                    <th>LTP</th>
                    <th>Volume</th>
                    <th>Profit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of list; let i = index">
                    <td>{{company.tradeCode}}</td>
                    <td>{{company.buyingDate | date: "dd-MM-yyyy"}}</td>
                    <td>{{company.BuyingPrice}}</td>
                    <td>{{company.LTP}}</td>
                    <td>{{company.volume}}</td>
                    <td [ngClass]="{'text-danger': company.profit < 0, 'text-success': company.profit > 0}">
                        {{company.profit | number : '1.2-2'}}
                    </td>
                   </tr>
            </tbody>
        </table>
    </div>

    <div id="total1">
        <h3>Sell shares </h3>
        <br><br>
        <table datatable [dtOptions]="dtOptions2" class="table table-hover">
            <thead>
                <tr>
                    <th>Trade Code</th>
                    <th>LTP</th>
                    <th>Total Volume</th>                 
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of list2; let i = index">
                    <td>{{company.tradeCode}}</td>
                    <td>{{company.LTP}}</td>     
                    <td>{{company.volumeCumulative}}</td>                  
                    <td><button (click)="open(content,i)" class="btn btn-primary"><i class="fas fa-hand-holding-usd"></i>Sell</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Order</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="myForm">
            <div class="form-group">
                <label for="tradeCode">Trade Code:</label>
                <input type="text" id="tradeCode" [(ngModel)]="order.tradeCode" class="form-control"
                    placeholder="{{company.tradeCode}}" disabled>
            </div>
            <div class="form-group">
                <label for="tradeCode">Order Type</label>
                <input type="text" id="type" class="form-control" placeholder="Sell" disabled>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" id="price" class="form-control" formControlName="price"
                    placeholder="{{company.BuyingPrice}}" required>
                <div
                    *ngIf="myForm.controls['price'].invalid && (myForm.controls['price'].dirty || myForm.controls['price'].touched)">
                    <small *ngIf="myForm.controls['price']?.errors?.['required']">Price is required.</small>
                    <small *ngIf="myForm.controls['price']?.errors?.['min']">Price must be a positive value.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" class="form-control" formControlName="quantity"
                    placeholder="{{company.volumeCumulative}}" required max="{{company.volumeCumulative}}" min="0">
                <div
                    *ngIf="myForm.controls['quantity'].invalid && (myForm.controls['quantity'].dirty || myForm.controls['quantity'].touched)">
                    <small *ngIf="myForm.controls['quantity'].hasError('required')">Quantity is required.</small>
                    <small *ngIf="myForm.controls['quantity'].hasError('min')">Quantity must be a positive
                        value.</small>
                    <small *ngIf="myForm.controls['quantity'].hasError('max')">Quantity cannot be greater than
                        {{company.volume}}.</small>
                </div>
            </div>

            <br>
            <button class="btn btn-success" [disabled]="myForm.invalid" (click)="sell(); c('Save click')">Place
                Order</button>

        </form>
    </div>

</ng-template>

<div *ngIf="!isAuthenticated" id="denied" class="container">
    <h1>You don't have access!</h1>
</div>