

<div *ngIf="!isAuthenticated" id="denied" class="container">
  <h1>PLease sign in first</h1>
</div>


<div class="container mt-5"  *ngIf="isAuthenticated">
  
    <div class="card">
      <div class="card-header">
        <h2>Create Announcement</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="notice.title" placeholder="Enter announcement title" required>
          </div>
          <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" id="body" name="body" [(ngModel)]="notice.body" rows="5" placeholder="Enter announcement body" required></textarea>
          </div>
          <br><br>
          <div class="form-group">
            <button type="submit" (click)="sendNotice()" class="btn btn-primary">Create Announcement</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
