<header>
    <div id="total">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 col-md-4">
            <div id="logo">
              <img src="assets/logo6.png" alt="Logo" class="img-fluid" class="logo-image">
            </div>
            <small>
              <pre>     StockTech</pre>
            </small>
          </div>
          <div class="col-6 col-md-8">
            <nav class="navbar navbar-expand-md">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="news">News</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="FAQs">FAQs</a>
                  </li>
                </ul>
              </div>
  
              <div *ngIf="!isAuthenticated" id="options" class="options ml-auto">
                <a routerLink="signUp" class="btn btn-outline-primary">Sign Up</a>
                <a routerLink="login" class="btn btn-outline-primary">Sign In</a>
                <a routerLink="phone" class="btn btn-outline-primary">Open BO Account</a>
              </div>
  
              <div *ngIf="isAuthenticated" id="signInMenu" class="pos-f-t nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <img src="assets/avatar.png" alt="Avatar" style="width:40px;" class="rounded-pill">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">View Profile</a></li>
                  <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                  <li><a class="dropdown-item" routerLink="portfolio">Portfolio</a></li>
                  <li><a class="dropdown-item" routerLink="watchlist">Watchlist</a></li>
                  <li><a class="dropdown-item" href="#">Notification</a></li>
                  <li><a class="dropdown-item"   (click)="logout()" routerLink="home">Logout</a></li>
                </div>
              </div>
            </nav>
            <!-- <div class="col-12">
              <div class="search_bar">
                <form id="search-form" class="form-inline">
                  <input type="text" id="searchBar" class="form-control mr-sm-2" placeholder="Search...">
                  <button type="submit" class="btn btn-primary my-2 my-sm-0">Go</button>
                </form>
              </div>
            </div> -->
          </div>
  
        </div>
      </div>
    </div>
  </header>
  
  
