.dropdown-menu {
    right: 0;
  }



  #total {
    background-color: rgb(217, 220, 249);
  }
  body.light-theme {
    background-color: #fff;
  }
  body{
    background-color: #fff;
  }
  
  .logo-image {
    width: 120px;
    height: auto;
  }
  
  #options{
    padding-top: 50px;
  }
  