<div *ngIf="!isAuthenticated" id="denied" class="container">
  <h1>PLease sign in first</h1>
</div>


<div *ngIf="isAuthenticated" class="container">
    <br>
    <h2>Running Orders</h2>
    <br>
    <table class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">Order ID</th>
          <th scope="col">Type</th>
          <th scope="col">Company</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Order Date</th>
          <th scope="col">Pending Quantity</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderList" scope="row">
          <td>{{order.orderID}}</td>
          <td>{{order.order_type}}</td>
          <td>{{order.tradeCode}}</td>
          <td>{{order.quantity}}</td>
          <td [style.color]="order.order_type === 'buy' ? 'red' : 'green'">{{order.price}}</td>
          <td>{{order.date | date: "dd-MM-yyyy"}}</td>
          <td>{{order.pendingquantity}}</td>
          <td><button class="btn btn-danger" (click)="cancel(order.orderID)"><i class="fa-solid fa-trash-can"></i></button></td>
        </tr>
      </tbody>
    </table>
    <br>
    <h2>Order History</h2>
    <br>
    <table class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">Order ID</th>
          <th scope="col">Type</th>
          <th scope="col">Company</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Order Date</th>
          <th scope="col">Pending Quantity</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderList1" scope="row">
          <td>{{order.orderID}}</td>
          <td>{{order.order_type}}</td>
          <td>{{order.tradeCode}}</td>
          <td>{{order.quantity}}</td>
          <td [style.color]="order.order_type === 'buy' ? 'red' : 'green'">{{order.price}}</td>
          <td>{{order.date | date: "dd-MM-yyyy"}}</td>
          <td>{{order.pendingquantity}}</td>
          <td>{{order.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  

