<div *ngIf="!isAuthenticated" id="denied" class="container">
  <h1>PLease sign in first</h1>
</div>


<div *ngIf="isAuthenticated" class="container">
    <br>
    <h2>Order history</h2>
    <br>
    <table class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">Order ID</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Issue Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderList" scope="row">
          <!-- <td>{{ order.ID }}</td>
          <td>{{ order.amount }}</td>
          <td>{{ order.term }}</td>
          <td>{{ order.issueDate }}</td>
          <td>{{ order.acceptDate }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  

