<div *ngIf="!isAuthenticated">
<div id="left">
    <img src="assets/login.jpg" class="gif-image">
</div>

<div id="right">
    <form>
        <h1>Sign In</h1>
        <div>
            <p><label for="bo">BO Account Number: </label> <input type="text" id="bo" [(ngModel)]="bo" name="bo"
                    pattern="[0-9]{20}" required></p>
            <p><label for="password">Password:</label> <input type="password" id="password" [(ngModel)]="password"
                    name="password" required></p>
            <p id="txt"><input type="checkbox"> remember me</p>
            <button class="btn btn-success" type="submit" (click)="matchInfo()">Sign In</button>
        </div>
    </form>
</div>
</div>
<div *ngIf="isAuthenticated" id="denied">
    <h1>Already Logged In</h1>
</div>