<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <h1>{{basicData.FullName}}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <br><br>
      <p><strong>Full Name:</strong> {{basicData.FullName}}</p>
      <p><strong>Trade Code:</strong> {{basicData.Scrip}}</p>
      <button class="btn btn-success" (click)="open(content)">Buy Shares</button>
    </div>
    <div class="col-sm-6">
      <h4 class="text-right">Basic data</h4>
      <p><strong>Last Trade:</strong> {{basicData.LastTrade}}</p>
      <p><strong>Volume:</strong> {{basicData.Volume}}</p>
      <p><strong>Open Price:</strong> {{basicData.OpenPrice}}</p>
      <p><strong>Close Price:</strong> {{basicData.ClosePrice}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3>Performance graph</h3>
      <!-- <apx-chart [series]="lineGraph.series" [chart]="lineGraph.chart" [xaxis]="lineGraph.xaxis"></apx-chart> -->
    </div>

    <div class="col-sm-6">
      <h3>Company Data</h3><br>
      <p><strong>Phone no:</strong> {{basicData.Email}}</p>
      <p><strong>Email:</strong> {{basicData.Web}}</p>
      <p><strong>Address:</strong> {{basicData.Address}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Technical Data</h3><br>
      <!-- <pre>MA10: {{basicData.ma10}}        EMA10: {{basicData.ema10}}</pre>
      <pre>MA20: {{basicData.ma20}}        EMA20: {{basicData.ema20}}</pre>
      <pre>MA50: {{basicData.ma50}}        EMA50: {{basicData.ema50}}</pre>
      <pre>MA100: {{basicData.ma100}}       EMA100: {{basicData.ema100}}</pre>
      <pre>MA200: {{basicData.ma200}}       EMA200: {{basicData.ema200}}</pre> -->
    </div>
    <div class="col-md-6">
      <h3>Capital portion graph</h3>
      <apx-chart [series]="pieChart2.series" [chart]="pieChart2.chart" [labels]="pieChart2.labels"
        [xaxis]="pieChart2.xaxis" [colors]="pieChart2.colors"></apx-chart>
    </div>
  </div>

  <!-- <div id="total1">
  <h3>Corporate action</h3>
</div> -->

  <div class="row">
    <div class="col-md-6">
      <h3>Shareholding pattern</h3>
      <apx-chart [series]="pieChart.series" [chart]="pieChart.chart" [labels]="pieChart.labels" [xaxis]="pieChart.xaxis"
        [theme]="pieChart.theme"></apx-chart>
    </div>
    <div class="col-md-6" id="right4">
      <h3>News</h3>
      <div *ngFor="let news of newsData.news">
        <strong>{{ news.title }}:</strong><br>
        <small>{{ news.body }}</small>
        <br><br>
      </div>

    </div>
  </div>

  <div class="row">
    <div id="total2">
      <h3>Financial Statement Summary</h3>
      <!-- <table datatable [dtOptions]="dtOptions" class="hover"></table> -->
      <table>
        <thead>
          <tr>
            <th>Particulars</th>
            <th>2021</th>
            <th>2020</th>
            <th>2019</th>
            <th>2018</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let row of financialData">
            <td *ngIf="row.r=='cash-flow-statement'">{{row.k}}</td>
            <!-- <td *ngIf="row.r=='balance-sheet' && row.y=='2021'">{{ row.l }}</td> -->

            <ng-container *ngFor="let row2 of financialData">
              <ng-container *ngIf="row2.k==row.k && row2!=row && row2.r=='cash-flow-statement'">
                <td *ngIf="row2.y=='2021'">{{row2.l}}</td>
                <td *ngIf="row2.y!='2021'">-</td>
                <td *ngIf="row2.y=='2020'">{{row2.l}}</td>
                <td *ngIf="row2.y!='2020'">-</td>
                <td *ngIf="row2.y=='2019'">{{row2.l}}</td>
                <td *ngIf="row2.y!='2019'">-</td>
                <td *ngIf="row2.y=='2018'">{{row2.l}}</td>
                <td *ngIf="row2.y!='2018'">-</td>
              </ng-container>
            </ng-container>
            <!-- <ng-container *ngFor="let row2 of financialData">
              <td *ngIf="row2.k==row.k && row2.r=='cash-flow-statement' && row.y!=row2.y  && row2.y=='2020'">{{row2.l}}
              </td>
            </ng-container>
            <ng-container *ngFor="let row2 of financialData">
              <td *ngIf="row2.k==row.k && row2.r=='cash-flow-statement' && row.y!=row2.y  && row2.y=='2019'">{{row2.l}}
              </td>
            </ng-container>
            <ng-container *ngFor="let row2 of financialData">
              <td *ngIf="row2.k==row.k && row2.r=='cash-flow-statement' && row.y!=row2.y  && row2.y=='2018'">{{row2.l}}
              </td>
            </ng-container> -->

          </tr>
          <ng-template #elseBlock>
            <td></td>
          </ng-template>
        </tbody>
      </table>


    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Order</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm">
      <div class="form-group">
        <label for="tradeCode">Trade Code:</label>
        <input type="text" id="tradeCode"  class="form-control" placeholder="{{basicData.Scrip}}" disabled>
      </div>
      <div class="form-group">
        <label for="tradeCode">Order Type</label>
        <input type="text" id="tyoe"  class="form-control" placeholder="Buy" disabled>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" class="form-control" formControlName="price"
            placeholder="{{basicData.LastTrade}}" required>
        <div
            *ngIf="myForm.controls['price'].invalid && (myForm.controls['price'].dirty || myForm.controls['price'].touched)">
            <small *ngIf="myForm.controls['price']?.errors?.['required']">Price is required.</small>
            <small *ngIf="myForm.controls['price']?.errors?.['min']">Price must be a positive value.</small>
        </div>
    </div>

      <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" class="form-control" formControlName="quantity"
                    placeholder="{{basicData.volume}}" required max="{{basicData.volume}}" min="0">
                <div
                    *ngIf="myForm.controls['quantity'].invalid && (myForm.controls['quantity'].dirty || myForm.controls['quantity'].touched)">
                    <small *ngIf="myForm.controls['quantity'].hasError('required')">Quantity is required.</small>
                    <small *ngIf="myForm.controls['quantity'].hasError('min')">Quantity must be a positive
                        value.</small>
                    <small *ngIf="myForm.controls['quantity'].hasError('max')">Quantity cannot be greater than
                        {{basicData.volume}}.</small>
                </div>
            </div>
      <br>
      <button class="btn btn-success" [disabled]="myForm.invalid" (click)="makeOrder(); c('Save click')">Place
        Order</button>
    </form>
  </div>

</ng-template>