<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <h1>{{basicData.FullName}}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-sm-4">
      <br><br>
      <p><strong>Full Name:</strong> {{basicData.FullName}}</p>
      <p><strong>Trade Code:</strong> {{basicData.Scrip}}</p>
      <pre><a href="https://{{basicData.Web}}/">Click here to visit website</a></pre>
      <br>
      <div style="width: 100% ;text-align:center;">
        <button *ngIf="isAuthenticated" class="btn btn-success" (click)="open(content)"><i
            class="fas fa-shopping-cart"></i>
          Buy Shares</button>
        <button style="margin:5px;" *ngIf="isAuthenticated" class="btn btn-success" (click)="showGraph()"><i
            class="fas fa-chart-line"></i>
          View Indicator</button>
        <button style="margin:5px;" *ngIf="isAuthenticated" class="btn btn-success" (click)="sendWatchlist()"><i
            class="fas fa-star"></i>Add to Watchlist</button>
      </div>
    </div>
    <div class="col-sm-3">
      <br> <br>
      <p><strong>Last Trading Price:</strong> {{basicData.LastTrade}}</p>
      <p><strong>Open Price:</strong> {{basicData.OpenPrice}}</p>
      <p><strong>Close Price:</strong> {{basicData.ClosePrice}}</p>
      <p><strong>YCP:</strong> {{basicData.YCP}}</p>
      <p><strong>Change:</strong> {{basicData.Change}}</p>
      <p><strong>Total Volume:</strong> {{basicData.Volume}}</p>

    </div>

    <div class="col-sm-3">
      <br> <br>
      <p><strong>Market Capital:</strong> {{basicData.MarketCap}}</p>
      <p><strong>Total Shares:</strong> {{basicData.TotalSecurities}}</p>
      <p><strong>Total Trade:</strong> {{basicData.TotalTrade}}</p>
      <p><strong>Earnings Per Share(EPS):</strong> {{basicData.EPS}}</p>
      <p><strong>P/E ratio:</strong> {{basicData.AuditedPE}}</p>
      <p><strong>Dividend Yield:</strong> {{basicData.DividentYield}}</p>
    </div>

    <div class="col-sm-2">
      <br> <br>
      <p><strong>Day's Range:</strong> </p>
      <p> {{basicData.DayRange}}</p>
      <p><strong>52 weeks Range:</strong> </p>
      <p> {{basicData. Week52Range}}</p>
      <p><strong>Category:</strong> {{basicData.MarketCategory}}</p>
      <p><strong>Listed since:</strong> {{basicData.ListingYear}}</p>

    </div>
  </div>

  <div class="row">
    <div class=" row col-sm-12">
      <br>
      <h3>Performance graph</h3>
      <br><br><br>
      <apx-chart [series]="lineGraph.series" [chart]="lineGraph.chart" [xaxis]="lineGraph.xaxis"></apx-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Bull vs Bear</h3><br>
      <apx-chart [series]="pieChart3.series" [chart]="pieChart3.chart" [labels]="pieChart3.labels"
        [xaxis]="pieChart3.xaxis" [colors]="pieChart3.colors"></apx-chart>
    </div>
    <div class="col-md-6" >
      <h3>Capital portion graph</h3>
      <apx-chart [series]="pieChart2.series" [chart]="pieChart2.chart" [labels]="pieChart2.labels"
        [xaxis]="pieChart2.xaxis" [colors]="pieChart2.colors"></apx-chart>
    </div>
  </div>

  <!-- <div id="total1">
  <h3>Corporate action</h3>
</div> -->

  <div class="row">
    <div class="col-md-6">
      <h3>Shareholding pattern</h3>
      <pre style="text-align:center;">{{basicData.ShareHoldingPercentage}}</pre>
      <apx-chart [series]="pieChart.series" [chart]="pieChart.chart" [labels]="pieChart.labels" [xaxis]="pieChart.xaxis"
        [theme]="pieChart.theme"></apx-chart>
    </div>
    <div class="col-md-6" id="right4">
      <h3>News</h3>
      <div *ngFor="let news of newsData">
        <strong>{{ news.title }}:</strong><br>
        <small>{{ news.body }}</small>
        <br><br>
      </div>

    </div>
  </div>

 <!-- <div class="row">
    <div id="total2">
      <h3>Financial Statement Summary</h3>
      <table datatable [dtOptions]="dtOptions" class="hover"></table> 
      <table>
        <thead>
          <tr>
            <th>Particulars</th>
            <th>2021</th>
            <th>2020</th>
            <th>2019</th>
            <th>2018</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let row of financialData">
            <td *ngIf="row.r=='cash-flow-statement'">{{row.k}}</td>
            <td *ngIf="row.r=='balance-sheet' && row.y=='2021'">{{ row.l }}</td> 

            <ng-container *ngFor="let row2 of financialData">
              <ng-container *ngIf="row2.k==row.k && row2!=row && row2.r=='cash-flow-statement'">
                <td *ngIf="row2.y=='2021'">{{row2.l}}</td>
                <td *ngIf="row2.y!='2021'">-</td>
                <td *ngIf="row2.y=='2020'">{{row2.l}}</td>
                <td *ngIf="row2.y!='2020'">-</td>
                <td *ngIf="row2.y=='2019'">{{row2.l}}</td>
                <td *ngIf="row2.y!='2019'">-</td>
                <td *ngIf="row2.y=='2018'">{{row2.l}}</td>
                <td *ngIf="row2.y!='2018'">-</td>
              </ng-container>
            </ng-container>
            <ng-container *ngFor="let row2 of financialData">
              <td *ngIf="row2.k==row.k && row2.r=='cash-flow-statement' && row.y!=row2.y  && row2.y=='2020'">{{row2.l}}
              </td>
            </ng-container>
            <ng-container *ngFor="let row2 of financialData">
              <td *ngIf="row2.k==row.k && row2.r=='cash-flow-statement' && row.y!=row2.y  && row2.y=='2019'">{{row2.l}}
              </td>
            </ng-container>
            <ng-container *ngFor="let row2 of financialData">
              <td *ngIf="row2.k==row.k && row2.r=='cash-flow-statement' && row.y!=row2.y  && row2.y=='2018'">{{row2.l}}
              </td>
            </ng-container> 

          </tr>
          <ng-template #elseBlock>
            <td></td>
          </ng-template>
        </tbody>
      </table>


    </div>
  </div> -->

</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Order</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm">
      <div class="form-group">
        <label for="tradeCode">Trade Code:</label>
        <input type="text" id="tradeCode" [(ngModel)]="order.tradeCode" class="form-control" placeholder="{{order.tradeCode}}" disabled>
      </div>
      <div class="form-group">
        <label for="tradeCode">Order Type</label>
        <input type="text" id="tyoe"  class="form-control" placeholder="Buy" disabled>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="order.price" class="form-control" formControlName="price"
            placeholder="{{order.price}}" required>
        <div
            *ngIf="myForm.controls['price'].invalid && (myForm.controls['price'].dirty || myForm.controls['price'].touched)">
            <small *ngIf="myForm.controls['price']?.errors?.['required']">Price is required.</small>
            <small *ngIf="myForm.controls['price']?.errors?.['min']">Price must be a positive value.</small>
            <small *ngIf="myForm.controls['price'].hasError('min')">Price cannot be so small.</small>
          <small *ngIf="myForm.controls['price'].hasError('max')">Price cannot be so large.</small>
        </div>
    </div>

      <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" [(ngModel)]="order.quantity" class="form-control" formControlName="quantity"
                    placeholder="0" required max="{{basicData.volume}}" min="1">
                <div
                    *ngIf="myForm.controls['quantity'].invalid && (myForm.controls['quantity'].dirty || myForm.controls['quantity'].touched)">
                    <small *ngIf="myForm.controls['quantity'].hasError('required')">Quantity is required.</small>
                    <small *ngIf="myForm.controls['quantity'].hasError('min')">Quantity must be a positive
                        value.</small>
                    <small *ngIf="myForm.controls['quantity'].hasError('max')">Quantity cannot be greater than
                        {{basicData.volume}}.</small>
                </div>
            </div>
      <br>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" class="form-control" formControlName="password"
             required>
        <div
            *ngIf="myForm.controls['password'].invalid && (myForm.controls['password'].dirty || myForm.controls['password'].touched)">
            <small *ngIf="myForm.controls['password'].hasError('required')">Password is required.</small>
        </div>
    </div>
    <br>
      <div><p>Ordered Price: {{order.quantity*order.price}}</p>
      <p>Commission: {{order.quantity*order.price*0.004}}</p>
      <p>Total Price: {{order.quantity*order.price*1.004}}</p></div>
      <button class="btn btn-success" [disabled]="myForm.invalid" (click)="makeOrder(); c('Save click')">Place
        Order</button>
    </form>
  </div>

</ng-template>