h1,h2,h3,h4,h5 {
    text-align: center;
    color: black;
}
p,pre{
padding-left: 10%;
}

#right4 {
    background-color: rgba(232, 240, 249, 0.87);
    overflow-y: auto;
    height: 300px;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  #denied{
    height: 400px; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
