<div ng-app="myApp" ng-controller="paymentCtrl" class="container">
  <h2>Cash Deposit</h2>

  <div class="row">

    <p>Welcome to the Cash Deposit page of our stock market website. Depositing cash into your trading account is easy
      and convenient, allowing you to quickly start investing in the stock market.</p>
    <p>Once your cash deposit has been successfully processed, the funds will be credited to your trading account. You
      can then use this money to buy shares and other securities. Our user-friendly trading platform provides real-time
      market data and analysis to help you make informed investment decisions.</p>
    <p>If you have any questions or concerns regarding the cash deposit process or our trading platform, please don't
      hesitate to contact our customer support team. They are available to assist you and provide you with the support
      you need.</p>
    <p>Thank you for choosing our stock market website for your investment needs. We look forward to helping you build
      your investment portfolio and achieve your financial goals.</p>

    <form>
      <div class="form-group">
        <label for="total"><h2> Total Amount:</h2></label>
        <input type="number" class="form-control" id="total" [(ngModel)]="total_amount" name="total" placeholder="{{total_amount}}" required>
      </div>


      <div class="col-md-12">
        <br>
        <button type="submit" (click)="open(content)" class="btn btn-success"> Pay Now</button>
      <br><br><br><br>
      </div>
    </form>
  </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <img id="pic1" src="assets/bKash.png">
  <div class="modal-body">
    
    <div id="textBox" class="container">
      <p>Merchant: StockTech.com</p>
      <p>Invoice No: 1234</p>
      <p>Amount: {{total_amount}}</p>
    </div>
    <div *ngIf="!otpBox" id="number">
      <label for="phone">bKash verification number</label>
      <input type="number" class="form-control" id="phone" placeholder="eg 01XXXXXXXXX" required>
      <p><input type="checkbox"> Agree the terms and policy</p>  
      <br>
      <button class="btn btn-outline-light" (click)="getOTP()">Proceed</button>
      <button style="margin:5px;" class="btn btn-outline-light" (click)="d('Cross click')" >Close</button>
    </div>
    <div *ngIf="otpBox" id="number">
      <label for="otp">Enter OTP</label>
      <input type="password" class="form-control" id="otp" required> 
      <br>
      <button class="btn btn-outline-light" (click)="makePayment()">Pay</button>
      <button style="margin:5px;" class="btn btn-outline-light" (click)="d('Cross click')" >Close</button>
    </div>
   
  </div>

</ng-template>