<div *ngIf="!isAuthenticated" id="denied" class="container">
  <h1>PLease sign in first</h1>
</div>


<div class="container" *ngIf="isAuthenticated">

  <div class="row">

    <p>
      Welcome to our cash deposit and withdrawal page. This page allows you to manage the funds in your trading account
      easily and conveniently.

      <br>To deposit cash into your trading account, simply follow these steps:

      <br>1. Click on the "Deposit" button on the main dashboard.
      <br>2. Choose your preferred payment method and enter the amount you wish to deposit.
      <br>3. Follow the on-screen instructions to complete the transaction.


      <br><br>Once your cash deposit has been successfully processed, the funds will be credited to your trading
      account. You can then start buying and selling stocks, mutual funds, and other securities.

      <br><br>If you need to withdraw cash from your trading account, simply follow these steps:

      <br>1. Click on the "Withdraw" button on the main dashboard.
      <br>2. Choose your preferred withdrawal method and enter the amount you wish to withdraw.
      <br>3. Follow the on-screen instructions to complete the transaction.
      <br>Please note that it may take a few business days for the funds to be credited to your account, depending on
      your chosen withdrawal method.

      <br><br>Our platform provides real-time account information, including your current balance and transaction
      history. If you have any questions or concerns regarding cash deposits or withdrawals, please don't hesitate to
      contact our customer support team. They are available to assist you and provide you with the support you need.

      <br>Thank you for choosing our stock market website for your investment needs. Happy trading!
    </p>
    <br>
    <div style="width: 100% ;text-align:center;">
      <button class="btn btn-info" (click)="open(deposit)">Deposit</button>
      <button style="margin:10px;" class="btn btn-info" (click)="open(withdraw)">Withdraw</button>
    </div>

  </div>

  <div>
    <br>
    <h2>Deposit history</h2>
    <br>
    <table class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">Transaction ID</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of depositList" scope="row">
          <td>{{ order.transID }}</td>
          <td>{{ order.amount }}</td>
          <td>{{ order.date }}</td>

        </tr>
      </tbody>
    </table>
  </div>


  <br>
  <div>
    <br>
    <h2>Withdraw history</h2>
    <br>
    <table class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">Request ID</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of withdrawList" scope="row">
          <td>{{ order.requestID }}</td>
          <td>{{ order.amount }}</td>
          <td>{{ order.date }}</td>
          <td>{{ order.status }}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- modal for bKash-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header  bkash">
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <img id="pic1" src="assets/bKash.png">
  <div class="modal-body  bkash">

    <div id="textBox" class="container">
      <p>Merchant: StockTech.com</p>
      <p>Invoice No: {{invoice}}</p>
      <p>Amount: {{newdeposit.amount}}</p>
    </div>
    <div *ngIf="!otpBox" id="number">
      <label for="phone">bKash verification number</label>
      <input type="number" class="form-control" id="phone" placeholder="e.g 01XXXXXXXXX" {{newdeposit.phone}} required>
      <p><input type="checkbox"> Agree the terms and policy</p>
      <br>
      <button class="btn btn-outline-light" (click)="getOTP()">Proceed</button>
      <button style="margin:5px;" class="btn btn-outline-light" (click)="d('Cross click')">Close</button>
    </div>
    <div *ngIf="otpBox" id="number">
      <label for="otp">Enter OTP</label>
      <input type="password" class="form-control" id="otp" required>
      <div [ngStyle]="{ 'display': timerFinished ? 'none' : 'block' }">
        <p class="txt"><small>Time remaining: {{ minutes }}:{{ seconds | number: '2.0' }}</small></p>
      </div>
      <br>
      <div *ngIf="timerFinished">
        <button class="btn btn-outline-light" (click)="resendOTP()">Resend OTP</button>
        <br>
      </div>
      <br>

      <button class="btn btn-outline-light" (click)="makePayment()">Pay</button>
      <button style="margin:5px;" class="btn btn-outline-light" (click)="d('Cross click')">Close</button>
    </div>

  </div>

</ng-template>


<!-- modal for deposit -->
<ng-template #deposit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm">
      <div class="form-group">
        <label for="quantity">
          <h2> Total Amount:</h2>
        </label>
        <input type="number" class="form-control" id="quantity" [(ngModel)]="newdeposit.amount" name="quantity"
          formControlName="quantity" placeholder="Enter amount" required min="1">
        <div
          *ngIf="myForm.controls['quantity'].invalid && (myForm.controls['quantity'].dirty || myForm.controls['quantity'].touched)">
          <small *ngIf="myForm.controls['quantity'].hasError('required')">Quantity is required.</small>
          <small *ngIf="myForm.controls['quantity'].hasError('min')">Quantity must be a positive
            value.</small>

        </div>
      </div>


      <div class="col-md-12">
        <br>
        <button type="submit" [disabled]="myForm.invalid" (click)="open(content); d('Cross click')"
          class="btn btn-outline-dark" style="float:right"> Pay Now</button>
        <br><br><br><br>
      </div>
    </form>
  </div>

</ng-template>


<!-- modal for withdraw-->
<ng-template #withdraw let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm">
      <div class="form-group">
        <label for="total">
          <h2> Total Amount:</h2>
        </label>
        <input type="number" class="form-control" id="quantity" [(ngModel)]="newwithdraw.amount" name="quantity"
          formControlName="quantity" placeholder="Enter amount" required min="1">
        <div
          *ngIf="myForm.controls['quantity'].invalid && (myForm.controls['quantity'].dirty || myForm.controls['quantity'].touched)">
          <small *ngIf="myForm.controls['quantity'].hasError('required')">Quantity is required.</small>
          <small *ngIf="myForm.controls['quantity'].hasError('min')">Quantity must be a positive
            value.</small>

        </div>
      </div>
    </form>
    <br>
    <button class="btn btn-outline-dark" style="float:right" [disabled]="myForm.invalid"
      (click)="makeWithdraw(); d('Cross click')">make Request</button>
    <br><br>
  </div>

</ng-template>