<div id="g1">
  <h2>MACD</h2>
  <apx-chart [series]="lineGraph.series" [chart]="lineGraph.chart" 
  [xaxis]="lineGraph.xaxis"></apx-chart>
</div>

<!-- <div id="g2">
  <h2>SMA50</h2>
    <apx-chart [series]="lineGraph2.series" [chart]="lineGraph2.chart" 
  [xaxis]="lineGraph2.xaxis"></apx-chart>
</div>

<div id="g3">
  <h2>EMA50</h2>
    <apx-chart [series]="lineGraph3.series" [chart]="lineGraph3.chart" 
  [xaxis]="lineGraph3.xaxis"></apx-chart>
</div>

<div id="g4">
  <h2>STOCK</h2>
    <apx-chart [series]="lineGraph4.series" [chart]="lineGraph4.chart" 
  [xaxis]="lineGraph4.xaxis"></apx-chart>
</div>

<div id="g5">
  <h2>RSI</h2>
    <apx-chart [series]="lineGraph5.series" [chart]="lineGraph5.chart" 
  [xaxis]="lineGraph5.xaxis"></apx-chart>
</div>

<div id="g6">
  <h2>BB</h2>
    <apx-chart [series]="lineGraph6.series" [chart]="lineGraph6.chart" 
  [xaxis]="lineGraph6.xaxis"></apx-chart>
</div> -->
